<h2>Create a New Listing: </h2>

<form method="post" action="/home_listings">
    <label>Address:
        <input type="text" name="home_address" value="">
    </label>
    <br>
    <label>Bedrooms:
        <input type="number" name="bedroom" value="">
    </label>
    <br>
    <label>Bathrooms:
        <input type="number" name="bathroom" value="">
    </label>
    <br>
    <label>Price:
        <input type="text" name="price" value="">
    </label>
    <br>
    <label>Description:
        <input type="text" name="description" value="">
    </label>
    <br>

    <input type="submit" name="" value="New Listing">
</form>