<h2>Welcome to Listings. Please Log in.</h2>

<form class="" action="/login" method="post">
    <label>Email:
        <input type="text" name="email" value="">
    </label>
    <br>
    <label>Password:
        <input type="text" name="password" value="">
    </label>
    <br>
    <input type="submit" name="" value="Login">
</form>
