Welcome to Lising. Please Log in.

<form class-"" action="/login" method="post">
    <label>Email:
        <input type="text" name="email" value="">
    </label>
    <label>Password:
        <input type="text" name="password" value="">
    </label>
    <input type="submit" value="Login">
</form>
